<%- include('../partials/header'); -%>

    <div style="padding: 2rem;" class="container" id="alert">

        <img src="imgs/api.png" width="100%" class="img-fluid" alt="Shop Banner" />

        <form action="/myapi" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username: </label>
                <input type="text" name="username" autocomplete="OFF" autofocus required class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"> Guess I know you.. </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password:</label>
                <input type="password" name="pwd" class="form-control" required id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        <br>
        <div>
            <span style="font-size: 1.5em;">
                <a href="https://wa.link/aur2kg" type="button"> <i class="fab fa-whatsapp"> </i> request for access?
                </a>

            </span>
        </div>

        <br>
    </div>

    <%- include('../partials/footer'); -%>