<%- include('../partials/header'); -%>

    <div style="padding: 2rem;" class="container" id="alert">
        <br>

        <img src="imgs/badkey.gif" width="100%" class="img-fluid" alt="Shop Banner" />


        <br>
        <div>
            <span style="font-size: 1.5em;">
                <a href="https://wa.link/aur2kg" type="button"> <i class="fab fa-whatsapp"> </i> request for access?
                </a>

            </span>
        </div>

        <br>
    </div>

    <%- include('../partials/footer'); -%>