<%- include('partials/header'); -%>

    <div class="container" id="alert">

        <div class="jumbotron" id="body">

            <h3>You have successfully added <span class="badge badge-success">
                    <%= name%>
                </span> to the Database</h3>
            </p>

        </div>
        <a href="/" type="buttun" class="btn btn-success"> Home </a>

    </div>

    <%- include('partials/footer'); -%>