<%- include('partials/header'); -%>

    <div class="container" id="alert">

        <div class="jumbotron" id="body">

            <h3> You didn't search through any category!!!</h3>


        </div>
        <form action="/" method="get">
            <button type="submit" class="btn btn-dark"> Home </button>
        </form>

    </div>

    <%- include('partials/footer'); -%>